@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Fira+Sans:ital@0;1&family=Pacifico&display=swap');
body{
    min-height: 100vh;
    max-height: 10vh;
    background-image: url("image/1330235.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.navbar{
    background-color: rgba(0,0,0);
    opacity: 0.75;
}
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
#name{
    color: azure;
}
.home{
    width: 100%;
    height: 600px;
    padding-left: 30%;
    padding-top: 10%;
    font-family: 'Bigelow Rules', cursive;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Pacifico', cursive;
}
.about{
    background-color: azure;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    width: 80%;                   
    font-size: large;
    padding: 10%;
}
.highlight{
    opacity: 0.5;
}
.highlight:hover{
    border-bottom: 10px;
    border-color: blueviolet;
}
footer{
    height: 50vh;
    width: 100%;
    background-color:#091d2e;
    color: azure;
    padding: 10vh;
}
.img{
    height: 35px;
    width: 35px;
    background-color: #fff;
    border-radius: 25%;
    margin-left: 10px;
}
.image{
    display: block;
}
@media screen and (max-width:600px) {
    .about{
        background-color: rgb(32, 255, 255);
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20%;
        width: 80%;                   
        font-size: small;
        padding: 10%;
    }
    footer{
        height: 50vh;
        width: 100%;
        background-color:#091d2e;
        color: azure;
        padding: 5vh;
    }
}